body{
    display: flex;
    margin: 0px;
    margin-left: 20px;
    font-family: Helvetica, sans-serif;
    flex-direction: column;
}
h1{
    color:  rgba(42, 75, 104, 0.4);
    margin-bottom: 10px;
}
.instructions{
    color:  rgba(42, 75, 104, 0.6);
    margin-left: 30px;
    font-size: smaller;
    font-style: italic;
    margin-bottom: 15px;
}

#container{
    display: flex;
    margin-left: 20px;
    justify-content: space-between;
    align-items: flex-start;
}
.library{
    display:flex;
    flex: 2 0 auto;
    flex-direction: column;
}
#cards{
    display: flex;
    flex-flow: column wrap;
    align-items:flex-start;
    justify-content: flex-start;
    flex: 1;
    height: 500px;
    background-color: rgba(255, 72, 176,15%);

    padding: 10px;
    margin-bottom: 5px;
    margin-right: 20px;
}
.card{
    display: flex;
    justify-content: space-between;
    text-align: start;
    width: 200px;
    background-color: white;
    padding: 15px;
    text-align: left;
    margin: 15px;
}
.top{
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
.exitButton{
    display: none;
    align-items: center;
    text-align: center;
    margin:0;
    height: 5px;
    padding: 10px;
    font-size: x-small;
    text-align: center;
}
.card:hover .exitButton{
    display: flex;
}
.bottom{
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
    gap: 10px;
}
.title{
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(61, 85, 136, 80%)
}
.author{
    font-style: italic;
    color: rgba(61, 85, 136, 55%)

}
#key{
    display: flex;
    flex:1;
    color: rgba(61, 85, 136, 80%);
    font-size: small;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.yes, .legend1{
    background-color: rgba(210, 81, 94,30%);
}
.no, .legend2{
    background-color:white;
    z-index: 6;
}
.currently_reading, .legend3{
    background-color: rgba(127, 121, 134,35%);
}

.legend1, .legend2, .legend3 {
    padding: 10px;
    align-self:center;
    width: 100px;
}
.legend2{
    padding: 8px;
    border: 2px solid rgba(255, 72, 176,25%);
}

.new{
    display:flex;
    flex: 1;
    flex-direction: column;
    margin-right:  30px;
    /* margin-left: 60px; */
}
form{
    display:flex;
    flex-direction: column;
    /* flex: 1; */
    gap: 10px;
    font-family: Helvetica, sans-serif;
    color: rgba(61, 85, 136, 80%);
    margin-bottom: 10px;
}

.formLine{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 10px;
    text-transform: capitalize;

}
input{
    border: 1px solid  rgba(61, 85, 136,20%);
    width: 60%;
}
button{
    display: flex;
    font-family: Helvetica, sans-serif;
    justify-content: center;
    border:none;
    color: rgba(61, 85, 136,90%);
    background-color: rgba(42, 75, 104, 0.15);
    text-transform: uppercase;
    font-size: large;
    padding: 10px;
}
.submitButton{
    display: flex;
    background-color: rgba(255, 72, 176,5%);
}
